/* four-different-cards-colors of global-page*/
.bg-blue{
    background: #3154cc;    
}
.bg-pink{
    background: #f74cbe;    
}
.bg-aqua{
    background: #46d3da;    
}
.bg-orange{
    background: #ffa959;    
}

